<!DOCTYPE html>
<html lang="en">
<head>
   <title>Projects</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'show_my_tasks' %}">My tasks</a></li>
                <li><a href="{% url 'list_projects' %}">My projects</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
<main>
    <div>

        <h1>My Projects</h1>
        <p><a href="{% url 'create_project' %}">Create a new project</a></p>
        <p>You are not assigned to any projects</p>
            {% if project == None %}
        <p>You are not assigned to any projects</p>
            {% else %}
        <table>

<th>Name</th><th>Number of tasks</th>
{% for proj in project %}
<tr><td><a href="{% url 'show_project' proj.id %}">{{proj.name}}</a></td><td>{{proj.tasks.count}}</td></tr>

{% endfor %}
        {% endif %}

    </table>
    </div>
</main>
</body>
</html>
